<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300i,400">
    <link href="@Url.Content("~/Content/animate.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/estilo.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/navbar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/card.css")" rel="stylesheet" type="text/css" />

</head>
<body class="degradadofondo margenes">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("¿Que hicimos?", "Informe", "Home")</li>
                    <li>@Html.ActionLink("Integrantes", "Nosotros", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row " style="padding-left:2%; padding-right:2%;">
            <header class="text-centrado">
                <img src="~/Content/img/2000px-Ubiquiti_Networks.svg.png" height="200" class="animated fadeInLeft">

            </header>
        </div>
        <div class="row">
            @RenderBody()
        </div>
        
    </div>
    <div class="margenes col-md-12 text-centrado encabezado-principal barrainferior animated fadeInDown letramasgrande" style="position:relative;">
        <p>Comunicación de Datos II - Profesor: Wilson Gordillo</p> <p>Universidad de Cundinamarca</p>
    </div>

    
    




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
