<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300i,400">
    <link href="@Url.Content("~/Content/animate.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/estilo.css")" rel="stylesheet" type="text/css" />

</head>
<body class="degradadofondo margenes">
    <header class="encabezado-principal degradadobarra animated fadeInDown letragrande">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="inicio.html">Introducción</a></li>
                    <li>@Html.ActionLink("¿Que hicimos?", "Informe", "Home")</li>
                    <li>@Html.ActionLink("Integrantes", "Nosotros", "Home")</li>
                </ul>
            </div>
        </nav>
    </header>

    <br>
    <article>
        <header class="text-centrado">
            <img src="~/Content/img/2000px-Ubiquiti_Networks.svg.png" height="200" class="animated fadeInLeft">
            <h1 class="text-azulito titulo animated bounceInDown"> Introducción </h1>
        </header>
        @RenderBody()
    </article>

    @*<footer class="margenes col-md-12 text-centrado encabezado-principal barrainferior animated fadeInDown letramasgrande">
        <p>Comunicación de Datos II - Profesor: Wilson Gordillo</p> <p>Universidad de Cundinamarca</p>
    </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
